

<body>

<img src="{{ product.image.url }}">
<h2>{{ product.product_name }}</h2>
<h4>{{ product.p_category }}</h4><br>

<h4>Auction Starts at: </h4>
<p id="start">{{ product.start|date:"SHORT_DATE_FORMAT" }} {{ product.start|time:'H:i' }}</p>
<h4>Current bid: {{ product.price }}</h4>
<p id="timer"> </p>
<p id="check"></p>
<p id="check1"></p>
<p id="check2"></p>


<a href="{% url 'auction:bid-page' product.pk %}"><button style="display: none" id="form1">Bid here</button></a>



<script>

    var start = document.getElementById("start").innerHTML;
    var n = new Date();

    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();

    if(dd<10){
    dd='0'+dd;
    }
    if(mm<10){
    mm='0'+mm;
    }
    var tod = mm+'/'+dd+'/'+yyyy;




    var s = Date.parse(tod); //gives milliseconds from jan 1 1970 to given date 00:00



    // calculate milliseconds to start time and add to s
    var a = start.slice(0,3); //return hh
    var b = start.slice(4,6); //return mm
    var startTime = s + a * 3600000 + (b / 60) * 3600000;

    // calculate milliseconds from start time to end time and store
    var endTime = startTime + 180000;

    //convert start time and end time to date object
    var startDate = new Date(startTime);
    var endDate = new Date(endTime);

    //countdown timer
    var now = new Date();
    var d = new Date(now);
    var milliseconds = d.getTime();

    //document.getElementById("check").innerHTML = new Date(tod);
    //document.getElementById("check1").innerHTML = new Date(endTime);
    //document.getElementById("check2").innerHTML = milliseconds;

    if(milliseconds >= startTime & milliseconds <= endTime){
       document.getElementById("form1").style.display="block";

        var countDownDate = endDate.getTime();
        //document.getElementById("demo").innerHTML = countDownDate;
        var x = setInterval(function() {
            var now = new Date().getTime();
            var distance = countDownDate - now;

        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);


         document.getElementById("timer").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
          if (distance < 0) {
           clearInterval(x);
           document.getElementById("timer").innerHTML = "Auction completed.";
           document.getElementById("form1").style.display="none";
          }
        },1000);
    }
    else if (milliseconds > endTime){
        document.getElementById("timer").innerHTML ="The auction is over!";

    }
    else if(milliseconds < startTime){
        document.getElementById("timer").innerHTML ="The auction hasn't started yet!";
    }





</script>

</body>
